CursoUnity/.vs/*
CursoUnity/.vscode/*
CursoUnity/Library/*
CursoUnity/Logs/AssetImportWorker0.log
CursoUnity/Logs/AssetImportWorker1.log
CursoUnity/Logs/Packages-Update.log
CursoUnity/Logs/shadercompiler-AssetImportWorker0.log
CursoUnity/Logs/shadercompiler-UnityShaderCompiler.exe0.log
CursoUnity/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
CursoUnity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CursoUnity/UserSettings/EditorUserSettings.asset
CursoUnity/UserSettings/Search.settings
CursoUnity/UserSettings/Layouts/default-2021.dwlt
CursoUnity/TestGame ‐ Hecho con Clipchamp.mp4
CursoUnity/ProjectSettings/AudioManager.asset
CursoUnity/ProjectSettings/boot.config
CursoUnity/ProjectSettings/ClusterInputManager.asset
CursoUnity/ProjectSettings/DynamicsManager.asset
CursoUnity/ProjectSettings/EditorBuildSettings.asset
CursoUnity/ProjectSettings/EditorSettings.asset
CursoUnity/ProjectSettings/GraphicsSettings.asset
CursoUnity/ProjectSettings/InputManager.asset
CursoUnity/ProjectSettings/MemorySettings.asset
CursoUnity/ProjectSettings/NavMeshAreas.asset
CursoUnity/ProjectSettings/NetworkManager.asset
CursoUnity/ProjectSettings/PackageManagerSettings.asset
CursoUnity/ProjectSettings/Physics2DSettings.asset
CursoUnity/ProjectSettings/PresetManager.asset
CursoUnity/ProjectSettings/ProjectSettings.asset
CursoUnity/ProjectSettings/ProjectVersion.txt
CursoUnity/ProjectSettings/QualitySettings.asset
CursoUnity/ProjectSettings/SceneTemplateSettings.json
CursoUnity/ProjectSettings/TagManager.asset
CursoUnity/ProjectSettings/TimeManager.asset
CursoUnity/ProjectSettings/UnityConnectSettings.asset
CursoUnity/ProjectSettings/VersionControlSettings.asset
CursoUnity/ProjectSettings/VFXManager.asset
CursoUnity/ProjectSettings/XRSettings.asset
CursoUnity/.vsconfig
CursoUnity/Assets/Tiny Swords (Update 010)/*
/CursoUnity/Logs/*
/CursoUnity/Temp/*
/.vscode/*
